src/comfortablie.dtd

<!--
   Extensible HTML version 1.0 Comfortablie DTD

   Namespace = https://github.com/MSIborisyeltsin/comfortablie-dtd

   For further information, see: ???

   Copyleft (c) 2019-2024 Volant127 ((UnRC, EICC "Kötü Tavşan") under the auspices of JI_n&C),
   All Rights Reserved.

   This DTD module is identified by the SYSTEM identifier:

   SYSTEM "https://raw.githubusercontent.com/MSIborisyeltsin/comfortablie-dtd/main/src/comfortablie.dtd"

   $Revision: 1.0 $
   $Date: 14/03/2024 $
-->

<!--================ Character mnemonic entities =========================-->

<!ENTITY % СHTMLlat1 SYSTEM
   "https://raw.githubusercontent.com/MSIborisyeltsin/comfortablie-dtd/main/src/character-mnemonic-entities/chtmllat1.ent">
%СHTMLlat1;

<!ENTITY % CHTMLsymbol SYSTEM
   "https://raw.githubusercontent.com/MSIborisyeltsin/comfortablie-dtd/main/src/character-mnemonic-entities/chtmlsymbol.ent">
%CHTMLsymbol;

<!ENTITY % CHTMLspecial SYSTEM
   "https://raw.githubusercontent.com/MSIborisyeltsin/comfortablie-dtd/main/src/character-mnemonic-entities/chtmlspecial.ent">
%CHTMLspecial;

<!ENTITY % CHTMLcurr SYSTEM
   "https://raw.githubusercontent.com/MSIborisyeltsin/comfortablie-dtd/main/src/character-mnemonic-entities/chtmlcurrency.ent">
%CHTMLcurr;

<!--================== Imported Names ====================================-->

<!--ENTITY % global "
    accesskey CDATA #IMPLIED
    class CDATA #IMPLIED
    contenteditable (true | false)  #IMPLIED
    contextmenu IDREF #IMPLIED
    dir (ltr | rtl | auto) #IMPLIED
    draggable (true | false) #IMPLIED
    dropzone NAMES #IMPLIED
    hidden (hidden) #IMPLIED
    id ID #IMPLIED
    itemid CDATA #IMPLIED
    itemprop CDATA #IMPLIED
    itemref IDREFS #IMPLIED
    itemscope (itemscope) #IMPLIED
    itemtype CDATA #IMPLIED
    lang NAME #IMPLIED
    spellcheck (true | false) #IMPLIED
    style CDATA #IMPLIED
    tabindex CDATA #IMPLIED
    title CDATA #IMPLIED
    translate (yes | no) #IMPLIED
    onabort CDATA #IMPLIED
    onblur CDATA #IMPLIED
    oncanplay CDATA #IMPLIED
    oncanplaythrough CDATA #IMPLIED
    onchange CDATA #IMPLIED
    onclick CDATA #IMPLIED
    oncontextmenu CDATA #IMPLIED
    oncuechange CDATA #IMPLIED
    ondblclick CDATA #IMPLIED
    ondrag CDATA #IMPLIED
    ondragend CDATA #IMPLIED
    ondragenter CDATA #IMPLIED
    ondragleave CDATA #IMPLIED
    ondragover CDATA #IMPLIED
    ondragstart CDATA #IMPLIED
    ondrop CDATA #IMPLIED
    ondurationchange CDATA #IMPLIED
    onemptied CDATA #IMPLIED
    onended CDATA #IMPLIED
    onerror CDATA #IMPLIED
    onfocus CDATA #IMPLIED
    oninput CDATA #IMPLIED
    oninvalid CDATA #IMPLIED
    onkeydown CDATA #IMPLIED
    onkeypress CDATA #IMPLIED
    onkeyup CDATA #IMPLIED
    onload CDATA #IMPLIED
    onloadeddata CDATA #IMPLIED
    onloadedmetadata CDATA #IMPLIED
    onloadstart CDATA #IMPLIED
    onmousedown CDATA #IMPLIED
    onmousemove CDATA #IMPLIED
    onmouseout CDATA #IMPLIED
    onmouseover CDATA #IMPLIED
    onmouseup CDATA #IMPLIED
    onmousewheel CDATA #IMPLIED
    onpause CDATA #IMPLIED
    onplay CDATA #IMPLIED
    onplaying CDATA #IMPLIED
    onprogress CDATA #IMPLIED
    onratechange CDATA #IMPLIED
    onreset CDATA #IMPLIED
    onscroll CDATA #IMPLIED
    onseeked CDATA #IMPLIED
    onseeking CDATA #IMPLIED
    onselect CDATA #IMPLIED
    onshow CDATA #IMPLIED
    onstalled CDATA #IMPLIED
    onsubmit CDATA #IMPLIED
    onsuspend CDATA #IMPLIED
    ontimeupdate CDATA #IMPLIED
    onvolumechange CDATA #IMPLIED
    onwaiting CDATA #IMPLIED
    "-->
<!ENTITY % phrase "a | area | link | meta | style | abbr | audio | b | bdi | bdo | br | button | code | command | data | datalist | del | embed | i | img | input | ins | kbd | keygen | label | map | mark | menu | meter | noscript | object | output | progress | s | samp | script | select | span | sub | sup | textarea | time | u | video | wbr | applet | bgsound | basefont | marquee | (#PCDATA)">
<!ENTITY % flow "details | div | fieldset | footer | form | h1 | h2 | h3 | h4 | h5 | h6 | header | hgroup | hr | nav | ol | p | pre | table | ul | center | %phrase;">

<!--================== Main ====================================-->

<!ELEMENT a - - (%flow;)*>
<!ATTLIST a
  %global;
  href CDATA #IMPLIED
  target CDATA #IMPLIED
  download CDATA #IMPLIED
  ping CDATA #IMPLIED
  rel CDATA #IMPLIED
  media CDATA #IMPLIED
  hreflang NAME #IMPLIED
  type CDATA #IMPLIED
  charset CDATA #IMPLIED
  coords CDATA #IMPLIED
  shape (rect|circle|poly|default) #IMPLIED
  methods NAMES #IMPLIED
  name NAME #IMPLIED
  urn CDATA #IMPLIED
  rev CDATA #IMPLIED
  >

<!ELEMENT area - O EMPTY>
<!ATTLIST area
  %global;
  alt CDATA #IMPLIED
  coords CDATA #IMPLIED
  shape (rect|circle|poly|default) #IMPLIED
  href CDATA #IMPLIED
  target CDATA #IMPLIED
  download CDATA #IMPLIED
  ping CDATA #IMPLIED
  rel CDATA #IMPLIED
  media CDATA #IMPLIED
  hreflang NAME #IMPLIED
  type CDATA #IMPLIED
  nohref (nohref) #IMPLIED
  >

<!ELEMENT link - O EMPTY>
<!ATTLIST link
  %global;
  href CDATA #IMPLIED
  rel CDATA #IMPLIED
  media CDATA #IMPLIED
  hreflang NAME #IMPLIED
  type CDATA #IMPLIED
  sizes CDATA #IMPLIED
  charset CDATA #IMPLIED
  methods NAMES #IMPLIED
  urn CDATA #IMPLIED
  rev CDATA #IMPLIED
  target CDATA #IMPLIED
  >

<!ELEMENT meta - O EMPTY>
<!ATTLIST meta
  %global;
  name NAME #IMPLIED
  http-equiv CDATA #IMPLIED
  content CDATA #IMPLIED
  charset CDATA #IMPLIED
  scheme CDATA #IMPLIED
  >

<!ELEMENT style - - CDATA>
<!ATTLIST style
  %global;
  scoped (scoped) #IMPLIED
  type CDATA #IMPLIED
  media CDATA #IMPLIED
  >

<!ELEMENT abbr - - (%phrase;)*>
<!ATTLIST abbr
  %global;
  >

<!ELEMENT audio - - (%flow; | source)*>
<!ATTLIST audio
  %global;
  src CDATA #IMPLIED
  crossorigin (anonymous | use-credentials) #IMPLIED
  preload (none | metadata | auto) #IMPLIED
  autoplay (autoplay) #IMPLIED
  mediagroup CDATA #IMPLIED
  loop (loop) #IMPLIED
  muted (muted) #IMPLIED
  controls (controls) #IMPLIED
  >

<!ELEMENT b - - (%phrase;)*>
<!ATTLIST b
  %global;
  >

<!ELEMENT bdi - - (%phrase;)*>
<!ATTLIST bdi
  %global;
  >

<!ELEMENT bdo - - (%phrase;)*>
<!ATTLIST bdo
  %global;
  >

<!ELEMENT br - O EMPTY>
<!ATTLIST br
  %global;
  clear (left|all|right|none) #IMPLIED
  >

<!ELEMENT button - - (%phrase;)*>
<!ATTLIST button
  %global;
  autofocus (autofocus) #IMPLIED
  disabled (disabled) #IMPLIED
  form CDATA #IMPLIED
  formaction CDATA #IMPLIED
  formenctype CDATA #IMPLIED
  formmethod (get | post) #IMPLIED
  formnovalidate (formnovalidate) #IMPLIED
  formtarget CDATA #IMPLIED
  name CDATA #IMPLIED
  type (submit | reset | button) #IMPLIED
  value CDATA #IMPLIED
  >

<!ELEMENT code - - (%phrase;)*>
<!ATTLIST code
  %global;
  >

<!ELEMENT command - - (%phrase;)*>
<!ATTLIST command
  %global;
  c_ CDATA #IMPLIED
  type CDATA #IMPLIED
  label CDATA #IMPLIED
  icon CDATA #IMPLIED
  disabled (disabled) #IMPLIED
  checked (checked) #IMPLIED
  radiogroup CDATA #IMPLIED
  command CDATA #IMPLIED
  >

<!ELEMENT data - - (%phrase;)*>
<!ATTLIST data
  %global;
  value CDATA #IMPLIED
  >

<!ELEMENT datalist - - (%phrase; | option)*>
<!ATTLIST datalist
  %global;
  >

<!ELEMENT del - - (%flow;)*>
<!ATTLIST del
  %global;
  cite CDATA #IMPLIED
  datetime CDATA #IMPLIED
  >

<!ELEMENT embed - O EMPTY>
<!ATTLIST embed
  %global;
  src CDATA #IMPLIED
  type CDATA #IMPLIED
  media CDATA #IMPLIED
  name NAME #IMPLIED
  align (ABSBOTTOM | ABSMIDDLE | MIDDLE | TEXTTOP | RIGHT | LEFT | BASELINE | CENTER | BOTTOM | TOP) #IMPLIED
  hspace NUMBER #IMPLIED
  vspace NUMBER #IMPLIED
  >

<!ELEMENT i - - (%phrase;)*>
<!ATTLIST i
  %global;
  >

<!ELEMENT img - O EMPTY>
<!ATTLIST img
  %global;
  alt CDATA #IMPLIED
  src CDATA #REQUIRED
  crossorigin CDATA #IMPLIED
  usemap CDATA #IMPLIED
  ismap (ismap) #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  border NUMBER #IMPLIED
  name NAME #IMPLIED
  longdesc CDATA #IMPLIED
  lowsrc CDATA #IMPLIED
  align (top|middle|bottom|left|right) #IMPLIED
  hspace NUMBER #IMPLIED
  vspace NUMBER #IMPLIED
  >

<!ELEMENT input - O EMPTY>
<!ATTLIST input
  %global;
  accept CDATA #IMPLIED
  alt CDATA #IMPLIED
  autocomplete (autocomplete) #IMPLIED
  autofocus (on | off) #IMPLIED
  checked (checked) #IMPLIED
  dirname CDATA #IMPLIED
  disabled (disabled) #IMPLIED
  form CDATA #IMPLIED
  formaction CDATA #IMPLIED
  formenctype CDATA #IMPLIED
  formmethod (get | post) #IMPLIED
  formnovalidate (formnovalidate) #IMPLIED
  formtarget CDATA #IMPLIED
  height CDATA #IMPLIED
  list CDATA #IMPLIED
  min CDATA #IMPLIED
  max CDATA #IMPLIED
  maxlength NUMBER #IMPLIED
  multiple (multiple) #IMPLIED
  name CDATA #IMPLIED
  pattern CDATA #IMPLIED
  placeholder CDATA #IMPLIED
  readonly (readonly) #IMPLIED
  required (required) #IMPLIED
  size NUMBER #IMPLIED
  src CDATA #IMPLIED
  setp CDATA #IMPLIED
  type CDATA #IMPLIED
  value CDATA #IMPLIED
  width CDATA #IMPLIED
  usemap CDATA #IMPLIED
  align (top|middle|bottom|left|right) #IMPLIED
  hspace NUMBER #IMPLIED
  vspace NUMBER #IMPLIED
  >

<!ELEMENT ins - - (%flow;)*>
<!ATTLIST ins
  %global;
  cite CDATA #IMPLIED
  datetime CDATA #IMPLIED
  >

<!ELEMENT kbd - - (%phrase;)*>
<!ATTLIST kbd
  %global;
  >

<!ELEMENT keygen - O EMPTY>
<!ATTLIST keygen
  %global;
  autofocus (on | off) #IMPLIED
  challenge CDATA #IMPLIED
  disabled (disabled) #IMPLIED
  form CDATA #IMPLIED
  keytype (rsa) #IMPLIED
  name CDATA #IMPLIED
  >

<!ELEMENT label - - (%phrase;)*>
<!ATTLIST label
  %global;
  form CDATA #IMPLIED
  for CDATA #IMPLIED
  >

<!ELEMENT map - - (%flow;)*>
<!ATTLIST map
  %global;
  name CDATA #IMPLIED
  >

<!ELEMENT mark - - (%phrase;)*>
<!ATTLIST mark
  %global;
  >

<!ELEMENT menu - - (li | (%flow;))*>
<!ATTLIST menu
  %global;
  label CDATA #IMPLIED
  type CDATA #IMPLIED
  compact (compact) #IMPLIED
  >

<!ELEMENT meter - - (%phrase;)* -(meter)>
<!ATTLIST meter
  %global;
  value CDATA #IMPLIED
  min CDATA #IMPLIED
  max CDATA #IMPLIED
  low CDATA #IMPLIED
  high CDATA #IMPLIED
  optimum CDATA #IMPLIED
  >

<!ELEMENT noscript - - (%phrase;)*>
<!ATTLIST noscript
  %global;
  >

<!ELEMENT object - - ((param)*, (%flow;)*)>
<!ATTLIST object
  %global;
  data CDATA #IMPLIED
  type CDATA #IMPLIED
  typemustmatch (typemustmatch) #IMPLIED
  name CDATA #IMPLIED
  usemap CDATA #IMPLIED
  form CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  archive CDATA #IMPLIED
  classid CDATA #IMPLIED
  code CDATA #IMPLIED
  codebase CDATA #IMPLIED
  codetype CDATA #IMPLIED
  declare (declare) #IMPLIED
  standby CDATA #IMPLIED
  align (top|middle|bottom|left|right) #IMPLIED
  border NUMBER #IMPLIED
  hspace NUMBER #IMPLIED
  vspace NUMBER #IMPLIED
  >

<!ELEMENT output - - (%phrase;)*>
<!ATTLIST output
  %global;
  for CDATA #IMPLIED
  form CDATA #IMPLIED
  name CDATA #IMPLIED
  >

<!ELEMENT progress - - (%phrase;)* -(progress)>
<!ATTLIST progress
  %global;
  value CDATA #IMPLIED
  max CDATA #IMPLIED
  >

<!ELEMENT s - - (%phrase;)*>
<!ATTLIST s
  %global;
  >

<!ELEMENT samp - - (%phrase;)*>
<!ATTLIST samp
  %global;
  >

<!ELEMENT script - - CDATA>
<!ATTLIST script
  %global;
  src CDATA #IMPLIED
  async (async) #IMPLIED
  defer (defer) #IMPLIED
  type CDATA #IMPLIED
  charset CDATA #IMPLIED
  language (javascript) #IMPLIED
  event CDATA #IMPLIED
  for CDATA #IMPLIED
  >

<!ELEMENT select - - (option | optgroup)*>
<!ATTLIST select
  %global;
  autofocus (autofocus) #IMPLIED
  disabled (disabled) #IMPLIED
  form CDATA #IMPLIED
  multiple (multiple) #IMPLIED
  name CDATA #IMPLIED
  required (required) #IMPLIED
  size NUMBER #IMPLIED
  >

<!ELEMENT span - - (%phrase;)*>
<!ATTLIST span
  %global;
  >

<!ELEMENT sub - - (%phrase;)*>
<!ATTLIST sub
  %global;
  >

<!ELEMENT sup - - (%phrase;)*>
<!ATTLIST sup
  %global;
  >

<!ELEMENT textarea - - CDATA>
<!ATTLIST textarea
  %global;
  accept CDATA #IMPLIED
  alt CDATA #IMPLIED
  autocomplete (on | off) #IMPLIED
  autofocus (autofocus) #IMPLIED
  cols NUMBER #IMPLIED
  dirname CDATA #IMPLIED
  disabled (disabled) #IMPLIED
  form CDATA #IMPLIED
  maxlength NUMBER #IMPLIED
  name CDATA #IMPLIED
  placeholder CDATA #IMPLIED
  readonly (readonly) #IMPLIED
  required (required) #IMPLIED
  rows NUMBER #IMPLIED
  wrap (soft | hard) #IMPLIED
  >

<!ELEMENT time - - (%phrase;)*>
<!ATTLIST time
  %global;
  datetime CDATA #IMPLIED
  >

<!ELEMENT u - - (%phrase;)*>
<!ATTLIST u
  %global;
  >

<!ELEMENT video - - (%flow; | source)*>
<!ATTLIST video
  %global;
  src CDATA #IMPLIED
  crossorigin (anonymous | use-credentials) #IMPLIED
  poster CDATA #IMPLIED
  preload (none | metadata | auto) #IMPLIED
  autoplay (autoplay) #IMPLIED
  mediagroup CDATA #IMPLIED
  loop (loop) #IMPLIED
  muted (muted) #IMPLIED
  controls (controls) #IMPLIED
  width NUMBER #IMPLIED
  height NUMBER #IMPLIED
  >

<!ELEMENT wbr - O EMPTY>
<!ATTLIST wbr
  %global;
  >

<!ELEMENT applet - - ((param)*, (%flow;)*)>
<!ATTLIST applet
  %global;
  codebase CDATA #IMPLIED
  code CDATA #IMPLIED
  name CDATA #IMPLIED
  archive CDATA #IMPLIED
  object CDATA #IMPLIED
  alt CDATA #IMPLIED
  align (bottom|middle|top|left|right) #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  hspace NUMBER #IMPLIED
  vspace NUMBER #IMPLIED
  >

<!ELEMENT bgsound - - (%phrase;)*>
<!ATTLIST bgsound
  %global;
  src CDATA #IMPLIED
  loop CDATA #IMPLIED
  balance CDATA #IMPLIED
  volume CDATA #IMPLIED
  >

<!ELEMENT basefont - O EMPTY>
<!ATTLIST basefont
  %global;
  size CDATA #IMPLIED
  color CDATA #IMPLIED
  face CDATA #IMPLIED
  >

<!ELEMENT marquee - - (%phrase;)*>
<!ATTLIST marquee
  %global;
  behavior (scroll | slide | alternate) #IMPLIED
  direction (left | right | up | down) #IMPLIED
  truespeed (truespeed) #IMPLIED
  onfinish CDATA #IMPLIED
  onstart CDATA #IMPLIED
  onbounce CDATA #IMPLIED
  height CDATA #IMPLIED
  width CDATA #IMPLIED
  hspace NUMBER #IMPLIED
  vspace NUMBER #IMPLIED
  bgcolor CDATA #IMPLIED
  scrollamount NUMBER #IMPLIED
  scrolldelay NUMBER #IMPLIED
  >

<!ELEMENT details - - (summary, (%flow;)*)>
<!ATTLIST details
  %global;
  open (open) #IMPLIED
  >

<!ELEMENT div - - (%flow;)*>
<!ATTLIST div
  %global;
  align (left|center|right|justify) #IMPLIED
  >

<!ELEMENT fieldset - - (legend?, (%flow;)*)>
<!ATTLIST fieldset
  %global;
  autofocus (autofocus) #IMPLIED
  disabled (disabled) #IMPLIED
  form CDATA #IMPLIED
  name CDATA #IMPLIED
  >

<!ELEMENT footer - - (%flow;)*>
<!ATTLIST footer
  %global;
  >

<!ELEMENT form - - (%flow;)*>
<!ATTLIST form
  %global;
  accept-charset CDATA #IMPLIED
  action CDATA #IMPLIED
  autocomplete (on | off) #IMPLIED
  enctype CDATA #IMPLIED
  method (post | get) #IMPLIED
  name CDATA #IMPLIED
  novalidate (novalidate) #IMPLIED
  target CDATA #IMPLIED
  accept CDATA #IMPLIED
  >

<!ELEMENT h1 - - (%phrase;)*>
<!ATTLIST h1
  %global;
  align (left|center|right|justify) #IMPLIED
  >

<!ELEMENT h2 - - (%phrase;)*>
<!ATTLIST h2
  %global;
  align (left|center|right|justify) #IMPLIED
  >

<!ELEMENT h3 - - (%phrase;)*>
<!ATTLIST h3
  %global;
  align (left|center|right|justify) #IMPLIED
  >

<!ELEMENT h4 - - (%phrase;)*>
<!ATTLIST h4
  %global;
  align (left|center|right|justify) #IMPLIED
  >

<!ELEMENT h5 - - (%phrase;)*>
<!ATTLIST h5
  %global;
  align (left|center|right|justify) #IMPLIED
  >

<!ELEMENT h6 - - (%phrase;)*>
<!ATTLIST h6
  %global;
  align (left|center|right|justify) #IMPLIED
  >

<!ELEMENT header - - (%flow;)*>
<!ATTLIST header
  %global;
  >

<!ELEMENT hgroup - - (h1 | h2 | h3 | h4 | h5 | h6)*>
<!ATTLIST hgroup
  %global;
  >

<!ELEMENT hr - O EMPTY>
<!ATTLIST hr
  %global;
  align (left|center|right) #IMPLIED
  color CDATA #IMPLIED
  noshade CDATA #IMPLIED
  size NUMBER #IMPLIED
  width CDATA #IMPLIED
  >

<!ELEMENT nav - - (%flow;)*>
<!ATTLIST nav
  %global;
  >

<!ELEMENT ol - - (li)*>
<!ATTLIST ol
  %global;
  reversed (reversed) #IMPLIED
  start CDATA #IMPLIED
  type CDATA #IMPLIED
  compact (compact) #IMPLIED
  >

<!ELEMENT p - O (%phrase;)*>
<!ATTLIST p
  %global;
  align (left|center|right|justify) #IMPLIED
  >

<!ELEMENT pre - - (%flow;)*>
<!ATTLIST pre
  %global;
  width NUMBER #IMPLIED
  >

<!ELEMENT table - - (caption?, (colgroup*), thead?, tfoot?, (tbody+ | tr+), tfoot?)>
<!ATTLIST table
  %global;
  border NUMBER #IMPLIED
  datapagesize CDATA #IMPLIED
  summary CDATA #IMPLIED
  align (left|center|right) #IMPLIED
  bgcolor CDATA #IMPLIED
  cellspacing NUMBER #IMPLIED
  cellpadding NUMBER #IMPLIED
  frame (void|above|below|hsides|lhs|rhs|vsides|box|border) #IMPLIED
  rules (none | groups | rows | cols | all) #IMPLIED
  width CDATA #IMPLIED
  background CDATA #IMPLIED
  >

<!ELEMENT ul - - (li)*>
<!ATTLIST ul
  %global;
  type (disc | square |circle) #IMPLIED
  compact (compact) #IMPLIED
  >

<!ELEMENT center - - (%flow;)*>
<!ATTLIST center
  %global;
  >

<!ELEMENT base - O EMPTY>
<!ATTLIST base
  %global;
  href CDATA #IMPLIED
  target CDATA #IMPLIED
  >

<!ELEMENT body O O ((%flow;)*, plaintext?)>
<!ATTLIST body
  %global;
  onafterprint CDATA #IMPLIED
  onbeforeprint CDATA #IMPLIED
  onbeforeunload CDATA #IMPLIED
  onhashchange CDATA #IMPLIED
  onmessage CDATA #IMPLIED
  onoffline CDATA #IMPLIED
  ononline CDATA #IMPLIED
  onpagehide CDATA #IMPLIED
  onpageshow CDATA #IMPLIED
  onpopstate CDATA #IMPLIED
  onresize CDATA #IMPLIED
  onstorage CDATA #IMPLIED
  onunload CDATA #IMPLIED
  alink CDATA #IMPLIED
  bgcolor CDATA #IMPLIED
  link CDATA #IMPLIED
  marginbottom NUMBER #IMPLIED
  marginheight NUMBER #IMPLIED
  marginleft NUMBER #IMPLIED
  marginright NUMBER #IMPLIED
  margintop NUMBER #IMPLIED
  marginwidth NUMBER #IMPLIED
  text CDATA #IMPLIED
  vlink CDATA #IMPLIED
  background CDATA #IMPLIED
  >

<!ELEMENT caption - - (%flow;)*>
<!ATTLIST caption
  %global;
  align (top|bottom|left|right) #IMPLIED
  >

<!ELEMENT col - O EMPTY>
<!ATTLIST col
  %global;
  span NUMBER #IMPLIED
  align (top|bottom|left|right) #IMPLIED
  char CDATA #IMPLIED
  charoff CDATA #IMPLIED
  valign (top|middle|bottom|baseline) #IMPLIED
  width CDATA #IMPLIED
  >

<!ELEMENT colgroup - - (%phrase;)*>
<!ATTLIST colgroup
  %global;
  c CDATA #IMPLIED
  span NUMBER #IMPLIED
  >

<!ELEMENT head O O (base | command | link | meta | noscript | script | style | title | bgsound | isindex | nextid )*>
<!ATTLIST head
  %global;
  profile CDATA #IMPLIED
  >

<!ELEMENT html O O (head, body)>
<!ATTLIST html
  %global;
  manifest CDATA #IMPLIED
  version CDATA #IMPLIED
  >

<!ELEMENT legend - - (%phrase;)*>
<!ATTLIST legend
  %global;
  align (top|bottom|left|right) #IMPLIED
  >

<!ELEMENT li - O (%flow;)*>
<!ATTLIST li
  %global;
  value CDATA #IMPLIED
  type CDATA #IMPLIED
  >

<!ELEMENT param - O EMPTY>
<!ATTLIST param
  %global;
  name CDATA #IMPLIED
  value CDATA #IMPLIED
  type CDATA #IMPLIED
  valuetype (data | ref | object) #IMPLIED
  >

<!ELEMENT plaintext - O CDATA>
<!ATTLIST plaintext
  %global;
  >

<!ELEMENT summary - - (%phrase;)*>
<!ATTLIST summary
  %global;
  >

<!ELEMENT td - O (%flow;)*>
<!ATTLIST td
  %global;
  colspan NUMBER #IMPLIED
  rowspan NUMBER #IMPLIED
  headers CDATA #IMPLIED
  char CDATA #IMPLIED
  charoff CDATA #IMPLIED
  bgcolor CDATA #IMPLIED
  background CDATA #IMPLIED
  height CDATA #IMPLIED
  width CDATA #IMPLIED
  nowrap (nowrap) #IMPLIED
  abbr CDATA #IMPLIED
  axis CDATA #IMPLIED
  scope (row | col | rowgroup | colgroup) #IMPLIED
  align (left|center|right|justify|char) #IMPLIED
  valign (top|middle|bottom|baseline) #IMPLIED
  >

<!ELEMENT th - O (%flow;)*>
<!ATTLIST th
  %global;
  colspan NUMBER #IMPLIED
  rowspan NUMBER #IMPLIED
  headers CDATA #IMPLIED
  scope (row | col | rowgroup | colgroup) #IMPLIED
  height CDATA #IMPLIED
  width CDATA #IMPLIED
  nowrap (nowrap) #IMPLIED
  char CDATA #IMPLIED
  charoff CDATA #IMPLIED
  bgcolor CDATA #IMPLIED
  background CDATA #IMPLIED
  abbr CDATA #IMPLIED
  axis CDATA #IMPLIED
  align (left|center|right|justify|char) #IMPLIED
  valign (top|middle|bottom|baseline) #IMPLIED
  >

<!ELEMENT title - - (#PCDATA)>
<!ATTLIST title
  %global;
  >

<!ELEMENT tr - O (td | th)*>
<!ATTLIST tr
  %global;
  bgcolor CDATA #IMPLIED
  background CDATA #IMPLIED
  char CDATA #IMPLIED
  charoff CDATA #IMPLIED
  align (left|center|right|justify|char) #IMPLIED
  valign (top|middle|bottom|baseline) #IMPLIED
  >

<!ELEMENT track - O EMPTY>
<!ATTLIST track
  %global;
  default (default) #IMPLIED
  kind (subtitles | captions | descriptions | chapters | metadata) #IMPLIED
  label CDATA #IMPLIED
  src CDATA #IMPLIED
  srclang NAME #IMPLIED
  >
